<div id="<%= dom_id dialy %>">
  <p>
    <strong>Date:</strong>
    <%= dialy.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= dialy.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= dialy.text %>
  </p>

</div>
