<header>
      <div class="header-logo">
        <%= link_to("MoneyApp","/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("MoneyAppとは","/about") %>
        </li>
        <li>
          <%= link_to("投稿一覧","/posts/index") %>
        </li>
      </ul>
    </header>
<div class="about-main">
  <h2>MoneyAppとは</h2>
  <p>
    お金を管理するアプリです。
    日々の支出・貯金額・収入を可視化することが出来ます。
  </p>
  <img class="about-img" src="/top-new.jpg">
</div>